        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
            color: white;
        }
        
        a {
            text-decoration: none;
        }
        
        .container {
            min-height: 110vh;
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
        
        img {
            background-image: url('./public/images/laptop.jpg');
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        hr {
            border-top: 40px solid cyan;
        }
        /* Header Section */
        
        #header {
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100vw;
            height: auto;
        }
        
        #header .header {
            min-height: 40px;
            background-color: black;
            transition: 0.3s ease background-color;
        }
        
        #header .header .brand h1 {
            font-size: 2rem;
            letter-spacing: 2px;
            color: white;
        }
        
        #header .header .brand h1 span {
            color: cyan;
        }
        
        .header .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            max-width: 1920px;
            padding: 0 5px;
            margin-left: 30px;
        }
        
        #header .nav-list ul a span {
            color: cyan;
        }
        
        #header .nav-list ul {
            color: cyan;
            list-style: none;
            position: absolute;
            background-color: black;
            width: 100vw;
            height: 100vh;
            left: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            z-index: 1;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            transition: .5s ease left;
        }
        
        #header .nav-list ul.active {
            left: 0;
            font-size: 2rem;
        }
        
        #header .nav-bar ul a {
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: .2rem;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 10px;
            display: block;
        }
        
        #header .nav-bar ul a::hover {
            color: cyan;
        }
        
        #header .hamburger {
            height: 60px;
            width: 60px;
            display: inline-block;
            border: 3px solid cyan;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 100;
            cursor: pointer;
            transform: scale(.5);
        }
        
        #header .hamburger .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: cyan;
            z-index: -1;
        }
        
        #header .hamburger .bar a span {
            color: white;
        }
        
        #header .hamburger .bar::after,
        #header .hamburger .bar::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            background-color: cyan;
            transition: 0.3s ease;
            transition-property: top, bottom;
        }
        
        #header .hamburger .bar::after {
            top: 8px;
        }
        
        #header .hamburger .bar::before {
            bottom: 8px;
        }
        /* End Header Section */
        /* Hero Section */
        
        #hero .social-icon {
            position: relative;
            left: 10px;
            top: 410px;
            max-width: 100%;
        }
        
        #hero .social-icon .social-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: left;
        }
        
        #hero .social-icon .social-item a {
            background-color: black;
            border-radius: 30%;
            margin-left: 40px;
            animation: pulse 2s infinite;
        }
        
        #hero {
            background-image: url(/images/main.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top left;
            position: relative;
            z-index: 1;
            color: black;
        }
        
        #hero::after {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: .2;
            z-index: -1;
        }
        
        #hero .hero {
            max-width: 2000px;
            margin: 0 auto;
            padding: 100px 50px;
            justify-content: flex-start;
        }
        
        #hero h1 {
            display: block;
            width: fit-content;
            font-size: 4rem;
            position: relative;
            color: transparent;
            animation: text_reveal .5s ease forwards;
            animation-delay: 1.5s;
        }
        
        #hero h1:nth-child(1) {
            animation-delay: 1s;
        }
        
        #hero h1:nth-child(2) {
            animation-delay: 2s;
        }
        
        #hero h1:nth-child(3) {
            animation: text_reveal_name 1 ease forwards;
            animation-delay: 3s;
        }
        
        #hero h1 span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            background-color: cyan;
            animation: text_reveal_box 1s ease;
            animation-delay: 1s;
        }
        
        #hero h1:nth-child(1) span {
            animation-delay: .5s;
        }
        
        #hero h1:nth-child(2) span {
            animation-delay: 1.5s;
        }
        
        #hero h1:nth-child(3) span {
            animation-delay: 2.5s;
        }
        
        #hero .cta {
            display: inline-block;
            padding: 9px 23px;
            color: white;
            background-color: transparent;
            border: 2px solid cyan;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: .6rem;
            margin-top: 20px;
            transition: .3s ease background-color;
            transition-property: background-color, color;
        }
        
        #hero .cta:hover {
            color: black;
            background-color: cyan;
        }
        /* End Hero Section */
        /* Project Section */
        
        #projects .section-title {
            text-align: center;
            font-size: 3rem;
            font-weight: 300;
            color: cyan;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
        
        #projects .projects {
            flex-direction: column;
            max-width: 1920px;
            margin: 0 auto;
            padding: 100px 0;
            background-color: black;
        }
        
        #projects .projects-header {
            margin-bottom: 20px;
            text-align: center;
            background-color: black;
            width: 90%;
            max-width: 960px;
            height: 180px;
            position: relative;
            margin: 0 auto;
            line-height: 1.4em;
        }
        
        #projects .container .projects-header h1 span {
            color: cyan;
            font-size: 5.5rem;
        }
        
        #projects .projects-header h1 {
            color: white;
            font-size: 4.0rem;
        }
        
        #projects .all-projects {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        #projects .projects-item {
            display: flex;
            align-items: center;
            justify-content: centre;
            flex-direction: column;
            width: 80%;
            margin: 20px;
            overflow: hidden;
            border-radius: 10px;
            background-color: black;
            border-color: cyan;
        }
        
        #projects .projects-info {
            padding: 30px;
            flex-basis: 50%;
            background-color: rgb(2, 19, 20);
            width: 100%;
            height: 100%;
            display: flex-start;
            justify-content: center;
            flex-direction: column;
        }
        
        #projects .projects-item .projects-info h1 {
            font-size: 4rem;
            font-weight: 500;
            color: cyan;
        }
        
        #projects .projects-info h2 {
            font-size: 1.8rem;
            font-weight: 100;
            margin-top: 10px;
            color: rgb(red, rgb(110, 187, 180), blue);
        }
        
        #projects .projects-info p {
            font-size: 1.4rem;
        }
        
        #projects .projects-info .cta {
            display: inline-block;
            padding: 5px 15px;
            color: white;
            background-color: transparent;
            border: 2px solid cyan;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-top: 30px;
            margin-bottom: 10px;
            transition: .3s ease background-color;
            transition-property: background-color, color;
        }
        
        #projects .projects-info .cta:hover {
            color: black;
            background-color: cyan;
        }
        
        #projects .projects-img {
            flex-basis: 50%;
            height: 300px;
            overflow: hidden;
            position: relative;
        }
        
        #projects .projects-img:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: cyan;
            opacity: .2;
        }
        
        #projects .projects-img img {
            transition: .3s ease transform;
        }
        
        #projects .projects-item:hover .projects-img img {
            transform: scale(1.1);
        }
        /* End Project Section */
        /* About Section */
        
        #about .about {
            background-color: black;
            flex-direction: column;
            text-align: center;
            max-width: 1920px;
            margin: 0 auto;
            padding: 120px 20px;
        }
        
        #about .col-top {
            width: 100%;
        }
        
        #about .col-top h1 {
            color: white;
            font-size: 4rem;
        }
        
        #about .col-top h1 span {
            font-size: 5rem;
            color: cyan;
        }
        
        #about .col-top h2 span {
            font-size: 3rem;
            color: cyan;
        }
        
        #about .col-top h2 {
            margin-top: 60px;
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: .2rem;
            margin-bottom: 10px;
            color: white;
        }
        
        #about .col-top p {
            padding: 20px;
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 30px;
            color: white;
            font-size: 2rem;
            justify-content: center;
            text-align: center;
            font-weight: lighter;
            font-family: 'Times New Roman', Times, serif;
        }
        
        #about .about-items {
            max-width: 1920;
            margin: 0 auto;
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        
        #about .about-items a {
            animation: pulse 2s infinite;
            margin: 35px 35px;
        }
        
        #about .cta {
            display: inline-block;
            padding: 5px 15px;
            color: white;
            background-color: transparent;
            border: 2px solid cyan;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            margin-top: 30px;
            margin-bottom: 50px;
            transition: .3s ease background-color;
            transition-property: background-color, color;
        }
        
        #about .cta:hover {
            color: black;
            background-color: cyan;
        }
        
        #about .col-left {
            display: flex;
            flex-direction: row;
        }
        
        #about .col-left h2 {
            color: cyan;
            margin-left: 120px;
            margin-right: 100px;
            align-items: flex-end;
            font-size: 3rem;
            z-index: 1;
            margin-top: 230px;
        }
        
        #about .col-left .about-img {
            position: relative;
            margin: 0 auto;
            border: 8px solid cyan;
            top: 60px;
            width: 650px;
            max-width: 1920px;
            margin-left: 100px;
            z-index: 1;
        }
        
        #about .col-left .about-img::after {
            content: '';
            position: absolute;
            left: 19px;
            top: 19px;
            height: 98%;
            width: 98%;
            border: 7px solid cyan;
            z-index: -1;
        }
        /* EndAbout Section */
        /* Keyframes */
        
        @keyframes pulse {
            0% {
                transform: scale(0.9);
            }
            50% {
                transform: scale(1);
            }
            100% {
                transform: scale(0.9);
                color: cyan;
            }
        }
        
        @keyframes text_reveal_box {
            50% {
                width: 100%;
                left: 0;
            }
            100% {
                width: 0;
                left: 100%;
                color: white
            }
        }
        
        @keyframes text_reveal {
            100% {
                color: white;
            }
        }
        
        @keyframes text_reveal_name {
            100% {
                color: cyan;
                font-weight: 500;
            }
        }
        /*  End keyframes  */
        /* Media Query for Desktop */
        
        @media only screen and (min-width:720px) {
            /* Header */
            #header .hamburger {
                display: none;
            }
            #header .nav-list ul {
                position: initial;
                display: block;
                height: auto;
                width: fit-content;
                background-color: transparent;
            }
            #header .nav-list ul li {
                display: inline-block;
            }
            #header .nav-list ul a:after {
                display: none;
            }
            /* End Header */
        }
        /* END Media Query for Desktop */